<div class="container" style="margin-top: 50px; margin-bottom: 100px;">

  <div class="col-md-10 col-sm-offset-1">
  <h1 style="font-size: 26px; font-weight: 300; line-height: 1.2; font-align:left;">FAQ Page</h1>
</br>
</br>
    <p style="font-size: 15px; line-height: 1.42857143; color: #333;"><b>“Senolytics” and “Senomorphics” : What You Need To Know</b>
    </p>
    <p style="font-size: 15px; line-height: 1.42857143; color: #333;">A new class of drugs has been created that can target and destroy senescent cells that eventually lead to cancer, Alzheimer’s, and other aging-related diseases. These drugs can be regarded as the next phase of traditional life extension treatments, such as Metformin and Rapamycin. 
    </p>
    <p style="font-size: 15px; line-height: 1.42857143; color: #333;">Senescent cells are primarily responsible for assisting in muscle repair following damage or injury to the body. However, over time these cells linger and build-up, and their presence at sites within the body has been associated with cancer, Alzheimer's, and other age-related diseases.
    </p>

    </br>
    <p style="font-size: 15px; line-height: 1.42857143; color: #333;"><b>What Is the Difference Between Senolytics and Senomorphics?</b>
    </p>

    <p style="font-size: 15px; line-height: 1.42857143; color: #333;">"Senolytics" have the highest potential for reducing the amount of senescent cells in the body - from 40% to 80% - and are combinations of “senomorphic” pharmaceuticals and supplements.
    </p>

    </br>
    <p style="font-size: 15px; line-height: 1.42857143; color: #333;"><b>Why Haven’t I Heard About “Senomorphics” Before?</b>
    </p>

    <p style="font-size: 15px; line-height: 1.42857143; color: #333;">Most people have - and many people already take them - just not for purposes of increasing human performance and healthy years of life. For example, Metformin is the world’s safest and most popular diabetes medication - but it also decreases risk for multiple diseases that occur in aging, including several cancers, cardiovascular disease, and others. When used for increasing human performance, it can even boost mitochondrial health and cellular energy.
    </p>

    <p style="font-size: 15px; line-height: 1.42857143; color: #333;">This makes it a “senomorphic” compound capable of having a positive effect on life extension and human performance in general, but regarding its effect on human performance, it lowers blood glucose by stimulating AMPK in the liver, causing an AMPK-dependent suppression of hepatic glucose export (Zhou et al., 2001). 
    </p>

    <p style="font-size: 15px; line-height: 1.42857143; color: #333;">In this way, there can be a specific benefit to mental and physical performance by the inhibition of mitochondrial function, just one of many benefits of Metformin, and one of many therapeutic benefits that senomorphics provide.
    </p>

    </br>
    <p style="font-size: 15px; line-height: 1.42857143; color: #333;"><b>What are some of the top picks from the research right now?</b>
    </p>

    <p style="font-size: 15px; line-height: 1.42857143; color: #333;">Over 1600 FDA-approved substances were reviewed, and over 75 identified as “super-soldier” drugs. Of these, 18 top contenders were selected. We’ve gone one step further, and identified the select few with minimal to no side effects, known efficacy for other conditions, and ease-of-access for consumers.
    </p>
    <ul>
      <li>Two common anti-parasitic veterinary medications known to counteract the most common parasite in the human body, toxoplasmosis, as well as tapeworms and others</li>
      <li>A specific and highly bioavailable form of Vitamin E shown to have positive impacts for fertility.</li>
      <li>A decades-old muscle relaxer that, like Metformin, has simply been lost in the shuffle of newly-developed drugs with higher advertising revenues</li>
      <li>A long-lasting antibacterial drug that works in the gut microbiome to reduce harmful bacterial loads</li>
    </ul>

  </br>
    <p style="font-size: 15px; line-height: 1.42857143; color: #333;"><b>What are some others worth mentioning?</b>
    </p>

    <p style="font-size: 15px; line-height: 1.42857143; color: #333;"><b>Dasatinib/Quercitin</b> - the first truly senolytic combination (a combination of senomorphics that increase effectiveness) to show an up to 40% reduction in senescent cell burden in the human body. The over-accumulation of senescent cells in the body has strong associations with cancer and other diseases of aging. Our researchers have recently completed the first human safety trials, showing marked increases in muscular performance and testosterone levels at a minimal dose.
    </p>

    <p style="font-size: 15px; line-height: 1.42857143; color: #333;"><b>Buckminsterfullerene</b> - our researchers are currently launching the first human safety trials in this compound, which has been shown to increase lifespan in mice models by 50% at massive dosage levels with no toxicity and side effects. The compound, which is actually a molecule, was discovered in the 1980s and led to the creation of an entirely new field of chemistry and the Nobel Prize being awarded to its discoverers in 1996.
    </p>

    <p style="font-size: 15px; line-height: 1.42857143; color: #333;"><b><a href="http://www.ascendancebiomed.com/senolytics" style="font-size:16px;"><u>Sign up to learn more about how YOU can join the clinical trials for these and other breakthrough treatments.</b></u><i>
    </p>

  </div>

</div>