<div class="container-fluid home" style="" id="home">
  <div class="image-container2">
    </br>
      
      
    <div class="banner-content">
      <h1 style="font-size:20px; margin-left: 100px; line-height: 1.3; width: 350px; font-weight: 300;">It's time to fund research that
goes further than just one disease</h1>    
      <h1 style="font-size:45px; margin-left: 100px; line-height: 1.05; width: 500px; font-weight: 100;">We need whole body
preventions and cures.</h1>
      
      </br>
    </div>
  </div>

<div id="about" class="container-fluid" id="about" style="padding-left: 50px;">
  <div class="row">

    <div class="col-md-6" id="main-about">
      <h1 style="font-size: 30px; font-weight: 300; line-height: 1.2;">Why This Research Matters</h1>
      
      <p style="font-size: 15px; line-height: 1.42857143; color: #333;">Right now, the federal government spends billions each year in medical research seeking to cure one disease at a time – while virtually ignoring the underlying processes that eventually lead to a whole host of fatal diseases.
      </p>
    <p style="font-weight: 300; line-height: 1.4; font-size: 21px;">
    It is estimated that 75 percent of the $1.9 trillion spent on all health care in the United States stems from preventable chronic health conditions – but only 1 percent is allocated to protecting health and preventing illness.
    </p>
    <p style="font-size: 15px; line-height: 1.42857143; color: #333;">The U.S. Department of Defense and U.S. Congress are considering a new research program that would fund research that aims to prevent and treat multiple diseases – specifically, the top killers in our state and nation: cancer, Alzheimer's disease, heart disease, and diabetes.
    </p>
    <p style="font-size: 15px; line-height: 1.42857143; color: #333;">These new programs would open up $26 million in federal funding for research that just makes sense – if we can target the root causes of multiple diseases, then we can find faster cures, preventions that can be delivered to Americans of any age, and cut broader costs of healthcare and Medicare.
    </p>
    <p style="font-size: 15px; line-height: 1.42857143; color: #333;">One possible project includes the new TAME/Metformin study, recently called "the 5th most innovative project of 2015" by the Washington Post and the subject of the hit Ron Howard documentary "The Age of Aging". TAME—Taming Aging for Metformin—will test the drug Metformin for use as the first pill to prevent the onset of cancers, diabetes, Alzheimer's, and other aging-related diseases.
    </p>
    <p style="font-size: 15px; line-height: 1.42857143; color: #333;">Let's plant the seeds for a future where we can all have more healthy, productive years of life – where major diseases can be stopped before they ever begin, and no one has to shoulder the burden of rising healthcare costs. Tell your representative today!
    </p>

     </div>                                     
    <div class="col-md-6" id="aside-about">
      <h1 style="font-size: 30px; font-weight: 300; line-height: 1.2;">Sign here to send this personalized letter to your representatives.</h1>
      </br>
      CimaVax will add years - if not decades - to your life. </br></br>Now, thanks to CimaVax, no one has to suffer or die from a disease that can be 100% manageable - and, perhaps, even preventable.
     </div>

  </div>
</div>
</div>
</br>
</br>
